<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cloudcharts.metadata.sql.mapper.DdlMapper">

    <update id="createTableBySql">
        ${sql}
    </update>


    <update id="createUniqueTbl" parameterType="cn.cloudcharts.metadata.model.dto.CreateTableDTO">


    </update>

    <update id="createPrimaryTbl" parameterType="cn.cloudcharts.metadata.model.dto.CreateTableDTO">


    </update>

    <update id="createAggregateTbl" parameterType="cn.cloudcharts.metadata.model.dto.CreateTableDTO">

    </update>

    <update id="createDetailTbl" parameterType="cn.cloudcharts.metadata.model.dto.CreateTableDTO">

        CREATE TABLE IF NOT EXISTS
        <if test="dto.dbName != null and dto.dbName != ''">
            ${dto.dbName}.
        </if>${dto.tblName}  (
        <foreach collection="dto.cols" item="item" separator="," index="index">
            `${item.colName}`
            <choose>
            <when test="item.colType == @cn.cloudcharts.metadata.enums.ColumnTypeEnums@BIGINT
                    or item.colType == @cn.cloudcharts.metadata.enums.ColumnTypeEnums@DECIMAL
                    or item.colType == @cn.cloudcharts.metadata.enums.ColumnTypeEnums@CHAR
                    or item.colType == @cn.cloudcharts.metadata.enums.ColumnTypeEnums@VARCHAR
                    or item.colType == @cn.cloudcharts.metadata.enums.ColumnTypeEnums@ARRAY">
                <if test="item.len != null and item.len != ''">${item.colType}(${item.len})</if>
                <if test="item.len == null or item.len == ''">${item.colType}</if>
            </when>
            <otherwise>
                ${item.colType}
            </otherwise>
            </choose>

            ${item.keyType}
            <if test="item.notNull != null and item.notNull !=''">
                NOT NULL
            </if>
            <if test="item.defaultVal != null and item.defaultVal !=''">
                DEFAULT  ${item.defaultVal}
            </if>
            <if test="item.comment != null and item.comment !=''">
                COMMENT  "${item.comment}"
            </if>
        </foreach>
        )
        ENGINE=OLAP

        DUPLICATE KEY(${dto.keyDesc})

        <if test="dto.comment != null and dto.comment !=''">
            COMMENT  "${dto.comment}"
        </if>

        <if test="dto.partition.partitionMode == null or dto.partition.partitionMode==@cn.cloudcharts.metadata.enums.PartitionModeEnums@dominant">
            <if test="dto.partition.partitionDesc != null">
                <choose>
                    <when test="dto.partition.partitionDesc == @cn.cloudcharts.metadata.enums.PartitionDescEnums@LESS_THAN">

                    PARTITION BY RANGE (${dto.partition.partitionCols})(
                                <foreach collection="dto.partition.partitionLessThanParms" item="item" separator="," index="index">
                                    PARTITION ${item.partitionName} VALUES LESS THAN (${item.vals})
                                </foreach>
                                )
                    </when>
                    <when test="dto.partition.partitionDesc == @cn.cloudcharts.metadata.enums.PartitionDescEnums@Fixed_Range">
                        PARTITION BY RANGE (${dto.partition.partitionCols})(
                            <foreach collection="dto.partition.partitionFixedRangeParms" item="item" separator="," index="index">
                                PARTITION ${item.partitionName}  VALUES [(${item.lowerVals}), (${item.upperVals}))
                            </foreach>
                            )
                    </when>
                    <when test="dto.partition.partitionDesc == @cn.cloudcharts.metadata.enums.PartitionDescEnums@BATCH">
                        PARTITION BY RANGE (${dto.partition.partitionCols})(
                        START (#{dto.partition.partitionBatchParm.start})
                        END (#{dto.partition.partitionBatchParm.end})
                        EVERY (INTERVAL ${dto.partition.partitionBatchParm.interval} ${dto.partition.partitionBatchParm.intervalNType})
                        )
                    </when>
                    <otherwise>

                    </otherwise>
                </choose>
            </if>
        </if>
        <if test="dto.partition.partitionMode != null and dto.partition.partitionMode==@cn.cloudcharts.metadata.enums.PartitionModeEnums@recessive">
           <if test="dto.partition.partitionExpressionParm.partitionFuncType == @cn.cloudcharts.metadata.enums.PartitionFuncTypeEnums@date_trunc">
               PARTITION BY date_trunc(#{dto.partition.partitionExpressionParm.partitionTimeUnit},${dto.partition.partitionCols})
           </if>
            <if test="dto.partition.partitionExpressionParm.partitionFuncType == @cn.cloudcharts.metadata.enums.PartitionFuncTypeEnums@time_slice">
                PARTITION BY time_slice(${dto.partition.partitionCols} ,INTERVAL ${dto.partition.partitionExpressionParm.partitionGranularity} ${dto.partition.partitionExpressionParm.partitionTimeUnit})
            </if>
        </if>

        <if test="dto.distributedCols != null and dto.distributedCols !=''">

            DISTRIBUTED BY HASH(${dto.distributedCols})
            <if test="dto.buckets != null and dto.buckets !=''">
                BUCKETS ${dto.buckets}
            </if>
        </if>
        <if test="dto.orderKeys != null and dto.orderKeys !=''">

            ORDER BY (
            <foreach collection="dto.orderKeys" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="dto.properties != null">

            PROPERTIES (
            <foreach collection="dto.properties.entrySet()" separator="," item="value" index="key">
                #{key} = #{value}
            </foreach>
            )
        </if>

    </update>
    <update id="createExternalTbl">

    </update>
    <update id="createTableLike">

    </update>
    <select id="showResources" resultType="java.util.Map">
        SHOW RESOURCES
    </select>

    <select id="queryAllColumns" resultType="cn.cloudcharts.metadata.model.result.TableColumnResult">
        SHOW FULL COLUMNS FROM ${table}
    </select>

    <select id="addColumns" resultType="java.lang.String">
        ALTER TABLE ${table} ADD COLUMN
        <foreach collection="columns" item="item" open="(" separator="," close=")">
            ${item.colName} ${item.colType}
            <if test="item.keyType !=null">
                ${item.keyType}
            </if>
        </foreach>
    </select>

</mapper>
